<!-- HEADER -->
<header class="header">
    <div class="wrapper-head">
        <div class="wrapper ">
            <div class="heder-box">
                <a class="header__logo" href="#">Shoppex.<span>us</span></a>
                <select class="language-select">
                    <option data-lang="en">eng</option>
                    <option data-lang="ru">рус</option>
                </select>
                <form class="search-form" name="search-site" action="#">
                    <input type="text" id="search_query" placeholder="Поиск">
                    <input type="submit" id="search_go" value="">
                </form>
                <div class="header__feedback"><a href="#">обратная связь</a></div>
                <div class="header__login"><a href="#">вход в кабинет</a></div>
            </div>
        </div>
    </div>
    <nav class="navigate">
        <div class="wrapper">
            <a href="#" class="navigate_click_js"></a>
            <ul class="navigate__box navigate_js">
                <li class="navigate__item"><a href="#">магазины</a></li>
                <li class="navigate__item"><a href="#">распродажи и скидки</a></li>
                <li class="navigate__item"><a href="#">как пользоваться</a></li>
                <li class="navigate__item"><a href="#">калькулятор</a></li>
                <li class="navigate__item"><a href="#">помощь</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- /HEADER -->


